<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>可折叠、可编辑表单</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/antd@4.21.3/dist/antd.min.css">
  <script src="https://cdn.jsdelivr.net/npm/react@17.0.2/umd/react.production.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/react-dom@17.0.2/umd/react-dom.production.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@babel/standalone@7.18.5/babel.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/antd@4.21.3/dist/antd.min.js"></script>
</head>
<body>
<div id="root"></div>
<script type="text/babel">
  const { Form, Input, Button, Collapse, Checkbox } = antd;
  const { Panel } = Collapse;

  const transChannelOptions = [
    { label: '交易渠道', value: '网上银行' },
    { label: '交易类型', value: '手机银行' },
    { label: '交易码', value: '柜面' },
    { label: '渠道码', value: 'ATM' },
  ];

  const transTypeOptions = [
    { label: '时间', value: '转账' },
    { label: '集群', value: '支付' },
    { label: 'az', value: '存款' },
    { label: 'pod', value: '取款' },
  ];

  class EditableForm extends React.Component {
    state = {
      data: [
        {
          key: 1,
          trans_type_cn: '网上银行转账',
          trans_channel: ['网上银行'],
          trans_type: ['转账'],
        },
        {
          key: 2,
          trans_type_cn: '手机银行支付',
          trans_channel: ['手机银行'],
          trans_type: ['支付'],
        }
      ]
    };

    handleSubmit = (values) => {
      console.log(values);
    };

    render() {
      const { data } = this.state;

      return (
              <Form onFinish={this.handleSubmit}>
                <Collapse accordion>
                  {data.map((item) => (
                          <Panel header={item.trans_type_cn} key={item.key}>
                            <Form.Item
                                    name={`trans_type_cn-${item.key}`}
                                    label="交易类型(中文)"
                                    initialValue={item.trans_type_cn}
                            >
                              <Input />
                            </Form.Item>
                            <Form.Item
                                    name={`trans_channel-${item.key}`}
                                    label="默认维度"
                                    initialValue={item.trans_channel}
                            >
                              <Checkbox.Group options={transChannelOptions} />
                            </Form.Item>
                            <Form.Item
                                    name={`trans_type-${item.key}`}
                                    label="可选维度"
                                    initialValue={item.trans_type}
                            >
                              <Checkbox.Group options={transTypeOptions} />
                            </Form.Item>
                          </Panel>
                  ))}
                </Collapse>
                <Form.Item>
                  <Button type="primary" htmlType="submit">
                    提交
                  </Button>
                </Form.Item>
              </Form>
      );
    }
  }

  ReactDOM.render(<EditableForm />, document.getElementById('root'));
</script>
</body>
</html>